.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}
.row {
  margin-top: 5px;
  margin-bottom: 5px;
}
.col {
  margin-left: 0px;
  margin-right: 0px;
}